<div ng-controller="AddPushUpCtrl as vm" style="" class="well">

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<input type="text" ng-model="vm.newPushup.title" name="" id="input" class="form-control" value="" required="required" pattern="" title="" placeholder="Nazwa pompki">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p>
						Trudność: <rating ng-model="vm.newPushup.difficultRate" max="vm.difficult.max" readonly="vm.difficult.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null"></rating>
						<span class="label" ng-class="{'label-warning': vm.percent<30, 'label-info': vm.percent>=30 && vm.percent<70, 'label-success': vm.percent>=70}" ng-show="vm.overStar && !vm.isReadonly">{{vm.percent}}%</span>
					</p>
					<p>
						Partie na jakie działa:
						<tags-input ng-model="vm.newPushup.dependientParties" placeholder="Dodaj tag"></tags-input>
					</p>

					<textarea ckeditor="vm.editorOptions" ng-model="vm.newPushup.description"></textarea>

				</div>

			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 15px">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button type="button" class="btn btn-success">Zapisz</button>
			<button type="button" class="btn btn-default" ng-click="vm.open('sm')">Anuluj</button>
		</div>
	</div>

	<push-up pushup-element="vm.newPushup"></push-up>

</div>