<div class="row" ng-controller="PushUpsCtrl as vm">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<button ui-sref=".add" type="button" class="btn btn-danger">Dodaj</button>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Rodzaje pompek</h1>
	</div>

	<div class="col-md-8 col-lg-8">

		<div ui-view></div>
		
		<push-up pushup-element="vm.pushups[0]"></push-up>

	</div>

	<div class="col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
				Basic panel example
			</div>
		</div>

		<form action="" method="POST" role="form">
			<legend>Form title</legend>

			<div class="form-group">
				<label for="">label</label>
				<input type="text" class="form-control" id="" placeholder="Input field">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
</div>

